<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.ac.jec.cm0107.timerarrange">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TimerArrange">
        <activity android:name=".Realclear"></activity>
        <activity android:name=".BeforeDuringthebattlefourth" />
        <activity android:name=".Duringthebattlefourth" />
        <activity android:name=".Duringthebattlethird" />
        <activity android:name=".Duringthebattlesecond" />
        <activity android:name=".ClearFirst" />
        <activity android:name=".GameOverFirst" />
        <activity android:name=".Duringthebattle" />
        <activity android:name=".CharactersettingView" />
        <activity android:name=".BattleView" />
        <activity android:name=".BeforethebattleView" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="cmapp" />
                <data android:host="memo" />
            </intent-filter>
        </activity>
    </application>

</manifest>